.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* This affects the width of the scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
}

/* This affects the background of the track that the thumb moves within */
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

/* This affects the actual 'thumb' or 'handle' of the scrollbar */
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 12.5px;
}

/* The hover effect when you place your cursor over the thumb */
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.truncate-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  display: block;
}

.timeline-container::-webkit-scrollbar {
  display: none;
}

.fade-button {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  pointer-events: none; /* so it doesn't interfere when not visible */
}

.fade-button.visible {
  opacity: 1;
  pointer-events: auto; /* restore pointer events when visible */
}
